<h1>Input y output</h1>

<hr />
<!-- En el selector del hijo, defino la variable que se envía por @Input y la función que recibe el evento @Output -->
<app-agregar-asignatura
  [nombre]="nuevoNombre"
  (agregarAsignaturaEvent)="agregarAsignaturaDesdePadre($event)"
></app-agregar-asignatura>
<hr />

<input [(ngModel)]="nuevoNombre" name="nuevoNombre" />

<p>Resultado del output: {{ resultado }}</p>

<h1>-- Directivas (separadas en componentes para no marearlos) --</h1>
<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-switch></app-ng-switch>

<!-- hoy no -->
<router-outlet></router-outlet>
